/*定义全局样式变量*/

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

$color-theme: #2f317c;
$shadow:0 0 9px 3px rgba(0, 0, 0, 0.1);


/* 尺寸相关*/
$border-radius: 5px;
$page-margin: 3vw;
$font-s:2vw;
$font-m:3vw;
$font-l:4vw;

